<!doctype html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <title><%= username %> | My Daily Overview</title>
  <meta name="description" content="Every day I don’t reach my focus and habit goals, up to $<%= totalAmount %> will be raffled on Discord.">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@<%= username %>" />
  <meta name="twitter:title" content="<%= username %> | My Daily Overview" />
  <meta name="twitter:description" content="Every day I don’t reach my focus and habit goals, up to $<%= totalAmount %> will be raffled on Discord." />
  <meta name="twitter:image" content="https://<%= websiteDomain %>/assets/img/twitter_thumb.jpg" />

  <link rel="stylesheet" type="text/css" href="assets/css/main.css?ver=1.1">
</head>

<body>
  <div class="content__wrapper">
    <h1 class="content__title">My Daily Overview <% if (!punishmentIsActive) { %><span class="content__subtitle">(punishment disabled)</span><% } %></h1>

    <!-- Focus Goals Wrapper-->
    <div class="section__wrapper style--red <% if (!punishmentIsActive) { %>style--grey<% } %>">
      <h3 class="section__title">my daily focus goals</h3>

      <div class="section__tasks">
        <% focus.forEach(item => { %>
        <div class="section__task" id="focus-<%= item.id %>">
          <div class="task__header">
            <span class="task__header__title"><%= item.name %></span>
            <span class="task__header__amount">$<%= item.amount %></span>
          </div>
          <div class="task__goal">
            <p class="task__goal__before">before <%= item.finishedBefore %></p>
            <span class="task__goal__reached"><%= item.done %></span>
            <span class="task__goal__wished">/ <%= item.goal %></span>
          </div>
        </div>
        <% }); %>
      </div>

    </div>
    <!-- End Focus Goals Wrapper -->

    <!-- Habit Goals Wrapper-->
    <div class="section__wrapper style--blue <% if (!punishmentIsActive) { %>style--grey<% } %>">
      <h3 class="section__title">my daily habit goals</h3>

      <div class="section__tasks">
        <% habits.forEach(item => { %>
        <div class="section__task" id="habit-<%= item.id %>">
          <div class="task__header">
            <span class="task__header__title"><%= item.name %></span>
            <span class="task__header__amount">$<%= item.amount %></span>
          </div>
          <div class="task__goal">
            <p class="task__goal__before">before <span class="task__goal__time"><%= item.finishedBefore %></span></p>
            <span class="task__goal__reached"><%= item.done %></span>
            <span class="task__goal__wished">/ <%= item.goal %></span>
          </div>
        </div>
        <% }); %>
      </div>

    </div>
    <!-- End Habit Goals Wrapper -->

    <!-- Punishment Wrapper -->
    <div class="section__wrapper style--grey">
      <h3 class="section__title">my daily punishment</h3>

      <div class="section__tasks">
        <div class="section__task">
          <div class="task__punishment">
            <span class="task__goal__reached">$<span id="current__amount"><%= currentAmount %></span></span>
            <span class="task__goal__wished">/ $<span id="total__amount"><%= totalAmount %><span></span>
          </div>
        </div>
      </div>

    </div>
    <!-- Punishment Wrapper -->

    <div class="disclaimer">
      <% if (punishmentIsActive) { %>
      <p>Today will end in <span class="style--dark" id="remaining__time"><%= remainingTime %></span> (UTC<%= (utcOffset >= 0) ? `+${utcOffset}` : `${utcOffset}` %>). Every day I don’t reach my focus and habit goals, a total of up to <span class="style--dark">$<%= totalAmount %></span> will be raffled on Discord.</p>
      <% } else { %>
      <p>I have taken a day off, thus no money will be raffled today. Today will end in <span class="style--dark" id="remaining__time"><%= remainingTime %></span> (UTC<%= (utcOffset >= 0) ? `+${utcOffset}` : '-${utcOffset}' %>). Check again tomorrow to see if I don’t reach my focus and habit goals.</p>
      <% } %>
    </div>
    
  </div>
  
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/api.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>